{% extends "base.html.twig" %}

{% block menu %}
    {% if not user is null %}
        <div>
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('addtrack') }}">Aggiungi</a>
            <a href="">I miei brani</a>
            <a href="">Le mie aggiunte</a>
            <a href="{{ path("myprofile") }}">Il mio account</a>
            <a href="{{ path('logout') }}">Logout</a>
            {{ dump(user) }}
        </div>
    {% else %}
        <div>
                <button onclick="window.location.href='{{ path("login") }}'">Login</button>
                <button onclick="window.location.href='{{ path("signup") }}'">Sign Up</button>
        </div>
    {% endif %}
{% endblock %}


{% block content %}{% endblock %}