{% extends "base.html.twig" %}

{% block menu %}
    {% if not user is null %}
        <div>
            <a href="{{ path('home') }}">Home</a>
            <a href="{{ path('addtrack') }}">Aggiungi</a>
            <a href="{{ path("mytracks") }}">I miei brani</a>
            <a href="{{ path("myadd") }}">Le mie aggiunte</a>
            <a href="{{ path("myprofile") }}">Il mio account</a>
            <a href="{{ path('logout') }}">Logout</a>
            {{ dump(user) }}
        </div>
    {% else %}
        <div>
                <button onclick="window.location.href='{{ path("login") }}'">Login</button>
                <button onclick="window.location.href='{{ path("signup") }}'">Sign Up</button>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    {% if results is defined and results is not null %}
        <br/>
        <h2>Brani nella playlist</h2>
        <table>
            <tr>
                <th>Titolo</th>
                <th>Artista</th>
                <th>Album</th>
                <th>Utente</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result.name }}</td>
                    <td>{{ result.artist }}</td>
                    <td>{{ result.album }}</td>
                    <td>{{ result.postedBy }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}