{% extends 'home.html.twig' %}

{% block content %}
    <fieldset>
        <legend>Questa settimana</legend>
        {% if week is defined and week is not null %}
            <form method="POST" action="{{ path("removetrack") }}">
                <table>
                    <tr>
                        <th>Titolo</th>
                        <th>Artista</th>
                        <th>Aggiunto in passato</th>
                        <th>Rimuovi</th>
                    </tr>
                    {% for track in week %}
                        <tr>
                            <td>{{ track.name }}</td>
                            <td>{{ track.artist }}</td>
                            {% if track.duplicated==1 %}
                                <td>SI</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><input type="checkbox" name="choosen[]" value="{{ track.uri }}"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Rimuovi" onclick="return isSomethingChecked();">
            </form>
        {% else %}
            Non ci sono brani qui.
        {% endif %}
    </fieldset>

    <br/>

    <fieldset>
        <legend>La scorsa settimana</legend>
        {% if week1 is defined and week1 is not null %}
            <form method="POST" action="{{ path("removetrack") }}">
                <table>
                    <tr>
                        <th>Titolo</th>
                        <th>Artista</th>
                        <th>Aggiunto in passato</th>
                        <th>Rimuovi</th>
                    </tr>
                    {% for track in week1 %}
                        <tr>
                            <td>{{ track.name }}</td>
                            <td>{{ track.artist }}</td>
                            {% if track.duplicated==1 %}
                                <td>SI</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><input type="checkbox" name="choosen[]" value="{{ track.uri }}"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Rimuovi" onclick="return isSomethingChecked();">
            </form>
        {% else %}
            Non ci sono brani qui.
        {% endif %}
    </fieldset>

    <br/>

    <fieldset>
        <legend>Le tue vecchie aggiunte</legend>
        {% if oldweeks is defined and oldweeks is not null %}
            <form method="POST" action="{{ path("removetrack") }}">
                <table>
                    <tr>
                        <th>Titolo</th>
                        <th>Artista</th>
                        <th>Aggiunto in passato</th>
                        <th>Rimuovi</th>
                    </tr>
                    {% for track in oldweeks %}
                        <tr>
                            <td>{{ track.name }}</td>
                            <td>{{ track.artist }}</td>
                            {% if track.duplicated==1 %}
                                <td>SI</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td><input type="checkbox" name="choosen[]" value="{{ track.uri }}"></td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Rimuovi" onclick="return isSomethingChecked();">
            </form>
        {% else %}
            Non ci sono brani qui.
        {% endif %}
    </fieldset>

    <script type="text/javascript">
        function isSomethingChecked(){
            let checkboxes=document.getElementsByName("choosen[]");
            for(let i=0; i<checkboxes.length; i++){
                if(checkboxes[i].checked){
                    return true;
                }
            }
            return false;
        }
    </script>
{% endblock %}